/* write your styles here */
* {
    box-sizing: border-box;
    margin: 0px;
}
body{
   
background-image:  url("images/floral.png")
}

.head{
    background-color: #ed484c;
    color: #ffffff;
    line-height: 40px;
    padding: 7px 3px;
    font-size: 13px;
    border-bottom: 1px solid white;
    margin: 0;
    font-size: 20px;

}
span{
    background-color: yellow;
    font-weight: bold;
    color: black;
}
#logo img{
    padding-left: 30px;
    padding-top: 0px 20px 20px;
    height:  46px;
    width:  108px;
    margin: 0;
    transform: translate(28%, 12%);


}

#navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  4c4c4c;
}




ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 4c4c4c;

}

li {
    float: right;
  }
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
    
  }
  #main{
      display: flex;
      flex-direction: column;
  }
  .join{
      background-color: #e78790;
      height: 500px;
      text-align: center;
      font-size: 40px;
      background-image: url("images/floral.png")

  }
.para{
      margin: 4px 0 8px;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      padding: 20px;
      font-size: 25px;
      font-weight: 400;
      line-height: 20px;
      margin-left: 20%;
      margin-right: 20%;
      font-family: algeria;
      margin-top: -26px;

}

.btn{
    
    background-color: black;
    color: #e78790;
    padding: 23px;
    width:25%;
    border: none;
    font-size: 40px;
    transform: translate(149%, -169%);

}
.btn:hover{
    color: white;
}

#services{
    background-image: url("images/floral.png");
    background-color: grey;
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 50px;
    padding-top: 25px; */
}

i.fab.fa-html5 {
    font-size: 150px;

}
.fab-fa-html5:hover {
    color: red;
}
i.fab .fa-css3-alt{
    font-size: 150px;
    

}
#grid-container{
    background-image: url("images/floral.png");
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 350px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 50px;
    margin-right: 1em;
    padding-top: 10px;
    margin-left: 1em;
    font-size: 150px;


} 


.heading{
text-align: center;
font-family: font-family: 'Playball', cursive;
font-size: 30px;
padding-top: 0;
margin-top: -60px;
}

#grid-container-2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 180px;
    font-family: cursive;
    color: black;
    margin-right: 2em;
    padding-top: 10px;
    margin-left: 2em;
    font-size: 15px;
    margin-bottom: 7em;



}
.categorie-name{
    text-align: center;
    font-family: cursive;
    margin-left: 20px;
    margin-right: 20px;

}
#portfolio{
    background-image: url("images/floral.png");
    background-color: #ddceb4;
    text-align: center;
    font-size: 40px;
    height: 800px;
    padding-top: 2em;
    box-sizing: border-box;

}
.i-1{
    margin-left: 6em;
    margin-right: 1em;
    border-radius: 60px;
    transform:translate(14%, -241%);
    position: relative;
    
    

}
.i-2{
    margin-left: 6em;
    margin-right: 1em;
    transform:translate(37%, -341%);
    
}  
.i-3{
    margin-left: 6em;
    margin-right: 1em;
    transform:translate(60%, -441%);

}
.i-4{
    margin-left: 6em;
    margin-right: 1em;
    transform:translate(14%, -424%);
}
.i-5{
    margin-left: 6em;
    margin-right: 1em;
    transform:translate(37%, -524%);
}
.i-6{
    margin-left: 6em;
    margin-right: 1em;
    transform:translate(60%, -624%);


}

.contact{
   background-color: #afc7c6;
   height: 250px;
   width: 100%;
   margin: 0;
   transform:translate(0%, -516%);
   text-align: center;
   margin-bottom: 2em;


}
#twitter{
    margin-top: 1em;
    background-color:  #afc7c6;
    border: 1px solid;
    color: #212121;
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 38px;
    margin-right: 2px;
    }

#youtube{
    margin-top: 1em;
    background-color:  #afc7c6;
    border: 1px solid;
    color: #212121;
    text-decoration: none;
    display: inline-block;
    padding: 15px 12px;
    border-radius: 50%;
    font-size: 38px;
    margin-right: 2px;
}
#fb{
    margin-top: 1em;
    background-color:  #afc7c6;
    border: 1px solid;
    color: #212121;
    text-decoration: none;
    display: inline-block;
    padding: 15px 17px;
    border-radius: 50%;
    font-size: 38px;
    margin-right: 2px;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: #212121;
    color: white;
    transform:translate(0%, -1331%);
    margin-top: 0;
    text-align: center;
    margin-top: 2em;
    font-size: 20px;
    padding-top: 1em;
}

#twitter:hover i{
    color:whitesmoke;
}
#youtube:hover i{
    color: white;
}
#fb:hover i{
    color: white;
}
.footer:hover i{

    color: red;
}


/* /* .item-1{
    height: 225;
    width: 250;
    margin-left: 6em;
    margin-right: 1em;
    background-color: yellow;
    transform:translate(69%, -341%); */



/* 
}
.i-1{
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  left: 55%;
  top: 50%;
  transform:translate(37%, -340%);
  position: absolute;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}

.item-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}
.i-1:hover .item-1 {
    opacity: 1;
}

.overlay{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;

    transform: translate(37%, -340%);
    -ms-transform: translate(37%, -340%);
    text-align: center;
    background-color: black;

  }  */

/* }
 .column{
    float: left;
    width: 33.33%;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 114px;
    transform: translate(-9%, -184%);
    margin-right: -72px;
margin-left: 20px;
border-width: 0;
    


} 
.row::after {
    content: "";
    clear: both;
    display: table;
    margin-top: 2em; 
    display: flex;











/* .service-description{
    font-size: 25px;
    font-weight: bold;
    padding: 16px;
    justify-content: start;
}


.article{
    padding: 0 15px 24px 15px;
} */








